<h2>Log in</h2>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit($event)">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput
                type="email" 
                placeholder="E-mail"
                formControlName="email"/> 
                <mat-hint>{{ emailMessage$ | async}}</mat-hint>               
        </mat-form-field>
        
    </div>   
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput
                type="password" 
                placeholder="Password"
                formControlName="password"/> 
                <mat-hint>{{ passwordMessage$ | async }}</mat-hint>                
        </mat-form-field>        
            <!-- {{formGroup.valueChanges | async | json }} -->
    </div>
    <div>
        <button mat-raised-button color="primary" type="submit" class="btn green" [disabled]="buttonDisabled$ | async">Log in</button>
        <button mat-raised-button color="deeppurple" type="reset" class="btn red">Clear</button>
    </div>
</form>



